@import url('https://fonts.googleapis.com/css?family=Lato');

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and ( min-device-pixel-ratio: 1.25),
       only screen and ( min-resolution: 200dpi),
       only screen and ( min-resolution: 1.25dppx) {
          -webkit-font-smoothing: subpixel-antialiased;
}

html {
  background-color: #000;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
}

.main {
  position: relative;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-width: 400px;
}

.contact, .hours {
  padding: 10px 0px 30px 0px;
  text-align: center;
}

.hours {
  letter-spacing: 3px;
}
